<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <script src="/javascripts/lib/jquery.min.js" type="text/javascript"></script>
        <script src="/javascripts/lib/easeljs.min.js" type="text/javascript"></script>
        <script src="/javascripts/lib/tweenjs.min.js" type="text/javascript"></script>

        <script src="/javascripts/lib/input.js" type="text/javascript"></script>

        <script src='/javascripts/scripts.js'></script>
        <script src='/javascripts/mapUtils.js'></script>

        <script src='/javascripts/Player.js'></script>
        <script src='/javascripts/Light.js'></script>

        <script src='/assets/map.js'></script>

        <style>
            body, html {
                margin:0px;
                padding:0px;
                background:#eee;
            }
            #container {
                height:704px;
                width:1024px;
                background:black;
                margin:0 auto;
            }
        </style>
        <script src="/javascripts/application.js" type="text/javascript"></script>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>