body {
    background: #060606;
}

.container {
    width: 1320px;
    position: relative;
}

.page-header {
    margin-bottom: 12px;
}

#game {
    height:704px;
    width:1024px;
    position:relative;
}
#canvas-main {
    cursor: none;
}
#canvas-lighting {
    display:none;
}

.progress {
    margin-bottom: 5px;
}

.progressbar {
    width:100px;
    height:20px;
    font-size:12px;
    -moz-box-shadow: 0px 0px 4px #000;
    -webkit-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
    border:2px solid black;
}

#game .progressbar {
    position:absolute;
}
.progressbar .pbmeter {
    height:100%;
    width:50%;
/*    background:red;*/
}
.progressbar .pblabel {
    text-align:center;
    position:relative;
    top:-19px;
    color: #efefef;
}

#info {
    position: relative;
}

#meters {
    float:left;
}

#me {
    position: absolute;
    text-align: center;
    left: 485px;
}

#meta {
    position: absolute;
    text-align: left;
    right: 345px;
}

#meta h4 {
    margin: 0px;
}


#sidebar {
    position: absolute;
    top: 150px;
    right: 0px;
    width: 270px;
    text-align: center
}

#leaderboard {
    height: 500px;
}

#chat {
    position: relative;
    bottom: 0px;
    text-align: left
}

#chat .well {
    height: 170px;
}

#chat-input {
    padding:4px;
    position:absolute;
    bottom:1px;
    background: #131517;
    border: black;
    border-top:1px solid #333;
    margin-left:0px;
    width:260px;
    color: #efefef;
    left:1px;
}

#messages {
    z-index:2;
    position:absolute;
    top:720px;
    left:306px;
    height:200px;
    width:400px;
}
.message {
    width:100%;
    text-align:center;
    position:relative;
}

.instance {
    position: relative;
}

.instance .join {
    position: absolute;
    top: 5px;
    right: 5px;
}

td.leaderboard-hp {
    padding: 0px;
}

div.leaderboard-hp {
    margin: 0px;
    padding: 0px;
}

#knockout-vote {
    background: #787979;
    border-radius: 5px;
    color: #EFEFEF;
}