body, html {
  font-family:helvetica, arial, sans-serif;
    margin:0px;
    padding:0px;
    background:#222;
}
#container {
    height:704px;
    width:1024px;
    background:black;
    margin:0 auto;
}
#canvas-main {
/*  cursor: none;*/
}
#canvas-lighting {
  display:none;
}
#knockout-vote {
  position:absolute;
  right:0px;
  top:0px;
  margin-left:470px;
}

#hp {
  padding:4px;
  color:white;
}