body {
    background: #060606;
}

.container {
    width: 1320px;
    position: relative;
}

.page-header {
    margin-bottom: 12px;
}
.page-header a {
  text-decoration:none;
}

#game {
    height:704px;
    width:1024px;
    position:relative;
}
#canvas-main {
    cursor: none;
}
#canvas-lighting, #canvas-crosshair {
  position:absolute;
  top:0px;
  left:0px;
  background:blue;
    display:none;
}

.progress {
    margin-bottom: 5px;
}

.progressbar {
    width:100px;
    height:20px;
    font-size:12px;
    -moz-box-shadow: 0px 0px 4px #000;
    -webkit-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
    border:2px solid black;
}

#game .progressbar {
    position:absolute;
}
.progressbar .pbmeter {
    height:100%;
    width:50%;
/*    background:red;*/
}
.progressbar .pblabel {
    text-align:center;
    position:relative;
    top:-19px;
    color: #efefef;
}

#info {
    position: relative;
}

#meters {
    float:left;
    height:58px;
}

#me {
    position: absolute;
    text-align: center;
    left: 485px;
}

#meta {
    position: absolute;
    text-align: left;
    right: 283px;
    width:100px;
}

#meta h4 {
    margin: 0px;
}


#sidebar {
    position: absolute;
    top: 150px;
    right: 0px;
    width: 270px;
    text-align: center
}

#leaderboard {
    height: 500px;
}

#chat {
    position: relative;
    bottom: 0px;
    text-align: left;
    overflow:hidden;
}
#chat ul li {
  position:absolute;
  bottom:40px;
}

#chat .well {
    height: 170px;
}

#chat-input {
    padding:4px;
    position:absolute;
    bottom:1px;
    background: #131517;
    border: black;
    border-top:1px solid #333;
    margin-left:0px;
    width:260px;
    color: #efefef;
    left:1px;
}

#messages {
    z-index:2;
    position:absolute;
    top:720px;
    left:306px;
    height:200px;
    width:400px;
}
.message {
    width:100%;
    text-align:center;
    position:relative;
}

.instance {
    position: relative;
    border:none;
}

.instance .join {
    position: absolute;
    top: 5px;
    right: 5px;
}
.instance .accordion-toggle {
  padding:0 10px 0 0;
}

.instance .accordion-inner {
  border-top:none;
}
.instance .accordion-toggle i {
  -webkit-transform:rotate(90deg);
}
.instance .accordion-toggle.collapsed i {
  -webkit-transform:rotate(0deg);
}
.instance .meta {
  margin-left:25px;
}
.instance .accordion-body {
  margin-left:10px;
}
.instance .player {
  font-weight:bold;
  color:#33B5E5;
}

td.leaderboard-hp {
    padding: 0px;
}

div.leaderboard-hp {
    margin: 0px;
    padding: 0px;
}

#knockout-vote {
    background: #787979;
    border-radius: 5px;
    color: #EFEFEF;
}

#enter h4 {
  margin:0px;
}
#enter input {
  width:97%;
  margin: 12px 0px;
  padding: 5px;
  font-size: 20px;
}

#enter .enter-form {
  width:50%;
  margin:0 auto;
}
#join-button {
  width:93%;
}

#kills span, #deaths span {
  float:right;
}

#total_score {
    position: absolute;
    text-align: center;
    top: 70px;
    right: 88px;
}

