<script src="/javascripts/lib/easeljs.min.js" type="text/javascript"></script>
<script src="/javascripts/lib/tweenjs.min.js" type="text/javascript"></script>

<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script>
    var socket = io.connect('http://' + window.location.host + window.location.pathname);
    socket.on('connect', function () {
      console.log('connected')
    });

    socket.on('instance', function(data) {
        join(data)
    });

    socket.on('addPlayer', function(data) {
        data.x = 100;
        data.y = 100
        players.push(new Player(data))
    })

    socket.on('moved', function(data) {
        players[findPlayer(data.id)].updatePosition(data.x, data.y, data.rotation)
    })

</script>
<div id='container'>
    <canvas id='canvas-main'></canvas>
    <canvas id='canvas-lighting'></canvas>
</div>