<!-- <script src="/javascripts/lib/easeljs.min.js" type="text/javascript"></script> -->
<script src="/javascripts/lib/tweenjs.min.js" type="text/javascript"></script>
<!-- <script src="/javascripts/lib/illuminated.js" type="text/javascript"></script> -->
<script src="/javascripts/lib/three.js" type="text/javascript"></script>
<script src="/javascripts/lib/stats.js" type="text/javascript"></script>

<script src='/assets/map.js'></script>

<script type="text/javascript" src="/javascripts/lib/physijs/stats.js"></script>
<script type="text/javascript" src="/javascripts/lib/physijs/physi.js"></script>

<script src="/javascripts/lib/input.js" type="text/javascript"></script>
<script src='/javascripts/lib/jsonHelpers.js'></script>
<script src='/javascripts/preload.js'></script>
<script src='/javascripts/bindings.js'></script>
<script src='/javascripts/scripts.js'></script>
<script src='/javascripts/intervals.js'></script>
<script src='/javascripts/render.js'></script>
<script src='/javascripts/mapUtils.js'></script>
<script src='/javascripts/packets.js'></script>
<script src='/javascripts/leaderboard.js'></script>
<script src='/javascripts/models/bullet.js'></script>
<script src='/javascripts/models/crosshair.js'></script>
<script src='/javascripts/models/bloodEffect.js'></script>
<script src='/javascripts/models/progressbar.js'></script>
<script src='/javascripts/models/messages.js'></script>
<script src='/javascripts/models/collisionManager.js'></script>
<script src='/javascripts/models/item.js'></script>
<script src='/javascripts/models/player.js'></script>
<script src='/javascripts/light/light.js'></script>
<script src='/javascripts/light/lightingEngine.js'></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
{{#if testing}}
    <script src='http://code.jquery.com/qunit/qunit-1.10.0.js'></script>
    <link href='http://code.jquery.com/qunit/qunit-1.10.0.css' rel='stylesheet'>
    <script src='/tests/helpers.js'></script>
    <script src='/tests/{{testing}}.js'></script>
    <div id="qunit"></div>
{{/if}}
<script>instance = '{{instance}}'</script>

<style>
    canvas {
        opacity:.2;
    }
</style>


<div class="container" id='game-container'>
    <h1 class="page-header" style='margin-top:10px'><a href='/instance'>challenger.io</a> <small>{{instance}} </small></h1>

    <div id="info">

        <div id="meters">
        </div>

        <h2 id="me"></h2>

        <div id="meta">
            <h4 id="kills">Kills: <span>0</span></h4>
            <h4 id="deaths">Deaths: <span>0</span></h4>
        </div>
        <div style="clear: both"></div>
    </div>

    <div id="game">
        <div id='crosshair' style='position:absolute; width:16px; height:16px; background:red'></div>
        <div class="page-header" style="margin:1px -12px 6px 1px !important"></div>
        <div class="well" style="width: 1025px; padding: 5px;">
            <div id='viewport'></div>
        </div>
        <div id="messages"></div>
    </div>

    <div id="total_score">
        <h2>Total <span>0</span></h2>
    </div>

    <div id="sidebar">
        <div id="leaderboard">
            <h5>Leaderboard</h5>
            <table class="table table-condensed table-striped">
                <thead>
                    <th width='10%'>Rank</th>
                    <th width='70%'>Player</th>
                    <th width='10%'>K</th>
                    <th width='10%'>D</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div id="chat">
            <div class="well">
                <ul class="unstyled" ></ul>
                <input id='chat-input' placeholder='Press Enter to Chat'>
            </div>
        </div>
    </div>
</div>




<div class="container" id='enter-container'>
    <div class="row">
        <div class="span8 offset4">

            <h1 class="page-header"><a href='/instance'>challenger.io</a> <small>{{instance}} </small></h1>
        </div>
    </div>

    <div class="row">
        <div class="span8 offset4">
            <div class="well">
                <div id='enter'>
                    <div class='enter-form'>
                        <h4>Enter a name for yourself</h4>
                        <input id='name' value='derp'><br>
                        <a href='#' id='join-button' class='btn btn-primary'>Join Game</a>
                        <br><br><br>
                        <h4>How to play</h4>
                        <ul class='unstyled'>
                            <li>Move = WASD or Arrow keys</li>
                            <li>Aim = Mouse</li>
                            <li>Shoot = Left-Click</li>
                            <li>Reload = Right-Click or R</li>
                            <li>Chat = Enter</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
