<script src="/javascripts/lib/easeljs.min.js" type="text/javascript"></script>
<script src="/javascripts/lib/tweenjs.min.js" type="text/javascript"></script>
<script src="/javascripts/lib/illuminated.js" type="text/javascript"></script>
<script src="/javascripts/lib/input.js" type="text/javascript"></script>
<script src='/javascripts/preload.js'></script>
<script src='/javascripts/bindings.js'></script>
<script src='/javascripts/scripts.js'></script>
<script src='/javascripts/intervals.js'></script>
<script src='/javascripts/render.js'></script>
<script src='/javascripts/mapUtils.js'></script>
<script src='/javascripts/packets.js'></script>
<script src='/javascripts/leaderboard.js'></script>
<script src='/javascripts/bullet.js'></script>
<script src='/javascripts/crosshair.js'></script>
<script src='/javascripts/progressbar.js'></script>
<script src='/javascripts/messages.js'></script>
<script src='/javascripts/player.js'></script>
<script src='/javascripts/light/light.js'></script>
<script src='/javascripts/light/lightingEngine.js'></script>
<script src='/assets/map.js'></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script>instance = '{{instance}}'</script>
<div class="container" id='game-container'>
    <h1 class="page-header" style='margin-top:10px'><a href='/instance'>challenger.io</a> <small>{{instance}} </small></h1>

    <div id="info">

        <div id="meters">
        </div>

        <h2 id="me"></h2>

        <div id="meta">
            <h4 id="kills">Kills: <span>0</span></h4>
            <h4 id="deaths">Deaths: <span>0</span></h4>
        </div>
        <div style="clear: both"></div>
    </div>

    <div id="game">
        <div class="page-header" style="margin:1px -12px 6px 1px !important"></div>
        <div class="well" style="width: 1025px; padding: 5px;">
            <canvas id='canvas-main'></canvas>
            <canvas id='canvas-lighting'></canvas>
            <canvas id='canvas-crosshair'></canvas>
        </div>
        <div id="messages"></div>
    </div>

    <div id="total_score">
        <h2>Total <span>0</span></h2>
    </div>

    <div id="sidebar">
        <div id="leaderboard">
            <h5>Leaderboard</h5>
            <table class="table table-condensed table-striped">
                <thead>
                    <th width='10%'>Rank</th>
                    <th width='70%'>Player</th>
                    <th width='10%'>K</th>
                    <th width='10%'>D</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div id="chat">
            <div class="well">
                <ul class="unstyled" ></ul>
                <input id='chat-input' placeholder='Press Enter to Chat'>
            </div>
        </div>
    </div>
</div>




<div class="container" id='enter-container'>
    <div class="row">
        <div class="span8 offset4">

            <h1 class="page-header"><a href='/instance'>challenger.io</a> <small>{{instance}} </small></h1>
        </div>
    </div>

    <div class="row">
        <div class="span8 offset4">
            <div class="well">
                <div id='enter'>
                    <div class='enter-form'>
                        <h4>Enter a name for yourself</h4>
                        <input id='name' value='derp'><br>
                        <a href='#' id='join-button' class='btn btn-primary'>Join Game</a>
                        <br><br><br>
                        <h4>How to play</h4>
                        <ul class='unstyled'>
                            <li>Move = WASD or Arrow keys</li>
                            <li>Aim = Mouse</li>
                            <li>Shoot = Left-Click</li>
                            <li>Reload = Right-Click or R</li>
                            <li>Chat = Enter</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
