<script src="/javascripts/lib/easeljs.min.js" type="text/javascript"></script>
<script src="/javascripts/lib/tweenjs.min.js" type="text/javascript"></script>
<script src='/javascripts/scripts.js'></script>
<script src='/javascripts/mapUtils.js'></script>

<script src='/javascripts/bullet.js'></script>
<script src='/javascripts/player.js'></script>
<script src='/javascripts/light/light.js'></script>
<script src='/javascripts/light/lightingEngine.js'></script>

<script src='/assets/map.js'></script>

<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script>
    var socket = io.connect('http://' + window.location.host + window.location.pathname, {reconnect: false});
    socket.on('connect', function () {
        socket.emit('join', name)
        console.log('connected')
    });

    socket.on('instance', function(data) {
        join(data)
    });

    socket.on('addPlayer', function(data) {
        if(data.id!= socket.socket.sessionid) players[data.id] = new Player(data)
    })

    socket.on('removePlayer', function(data) {
        players[data.id].remove()
    })

    socket.on('moved', function(data) {
        if(data.id!=me.id) players[data.id].updatePosition(data.x, data.y, data.rotation)
    })

    socket.on('fired', function(data) {
        if(me.id != data.owner) new Bullet({x:data.startX, y:data.startY, endX:data.endX, endY:data.endY, owner:data.owner})
    })

    socket.on('damage', function(data) {
        console.log('damaged', data);
        if(data.id == me.id) {$("#health").html(data.health);}
    })

    socket.on('died', function(data) {
        console.log('died', data);
    })

    socket.on('score', function(data) {
        $("#score").html(data.score)
    })

    socket.on('respawn', function(data) {
        console.log('respawn!')
    })

</script>
<h2 id="score">0</h2>
<h3 id="health">100</h3>

<div id='container'>

    <iframe id='knockout-vote' src="http://nodeknockout.com/iframe/challenger-io" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>

    <canvas id='canvas-main'></canvas>
    <canvas id='canvas-lighting'></canvas>
</div>